* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    margin: 0%;
    padding: 0;
}

.page-1 {
    background-color:cadetblue;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    height: 450px;
    max-width: 90%;
    flex-direction: column;
    border-top: 0px;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}

.header h1{
    
    margin: 15px 15px;
}
.header nav ul {
    display: flex;
    padding-right: 170px;
    list-style: none;
}

.header nav ul li {
    margin: 25px 15px;
}

.header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.page-img {
    width: 440px;
    height: 200px;
}

.container {
    display: flex;
    margin: auto;
    padding-top: 70px;
    max-width: fit-content;
    gap: 50px;
    

    
}

.container h1 {
    font-size: 30px;
     
}

.container p {
    font-weight:200;
    font-size: 20px;
    padding-top: 10px;
}

.container button {
    
    margin-top: 20px;
    background-color: aqua;
    padding: 10px 40px;
    border-radius: 12px;
}

.description {
    max-width: 500px;
    font-size: larger;
}

